<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<log4net>
		<!--定义输出到文本文件中-->
		<appender name="txt_appender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="logs\%property{LogName}.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="_yyyyMMdd'.log'" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern
					value="[%thread] %logger %date{HHmmss} [%-5level] - %message%n" />
			</layout>
		</appender>
		<!--定义输出到控制台中-->
		<appender name="color_console_appender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="INFO" />
				<backColor value="Green, HighIntensity" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<backColor value="Yellow, HighIntensity" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%thread] %date{HHmmss} [%-5level] - %message%n" />
			</layout>
		</appender>
		<!--定义日志的输出媒介-->
		<root>
			<!--文本文件日志-->
			<appender-ref ref="txt_appender" />
			<!--控制台日志-->
			<appender-ref ref="color_console_appender" />
		</root>
	</log4net>
</configuration>